/data
/weights
/foreground_object_pointclouds
/foreground_object_pointclouds_single
/foreground_object_pointclouds_mini
/foreground_object_pointclouds_old
/foreground_object_pointclouds_strict
/foreground_object_pointclouds_full_try2
/foreground_object_pointclouds_try_full
/figures
/nice_figures
/actor_insertion/test_figures
/actor_insertion/vis_insert
/actor_insertion/vis_insert_actual_basellines
/actor_insertion/vis_insert_actual_basellines_mini
/actor_insertion/vis_no_background
/actor_insertion/vis_no_background_baselines
/actor_insertion/vis_no_background_baselines_mini
./histograms_list_dict.pickle
*/histograms_list_dict.pickle
histograms_list_dict.pickle
