# Core ML libraries (CPU versions only)
torch ==2.3.0
torchvision ==0.18.0
torchaudio ==2.3.0

# Model utility
timm==0.5.4

# Gradio
Gradio

# Hugging Face
datasets
huggingface_hub

# nuScenes devkit
nuscenes-devkit

# Visualization
matplotlib

# Quaternion utilities
pyquaternion

numpy==1.23.5

